* {
  color: white;
}
.App {
  text-align: center;
}

.title {
  margin-bottom: 60px;
  font-size: 38px;
}

.search {
  background: none;
  outline: none;
  color: white;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.87);
  width: 200px;
  padding: 5px;
  margin-right: 20px;
  transition: all 0.2s ease;
  font-size: 17px;
}

.search:focus {
  border-bottom: 1.5px solid rgba(216, 179, 17, 0.925);
}

.submit {
  padding: 8px 14px;
  color: black;
  font-size: 17px;
  background-color: rgb(255, 208, 0);
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.error {
  margin-top: 10px;
  color: red;
  font-weight: 520;
}

.search.invalid {
  border-bottom: 2px solid red;
}

@media only screen and (max-width: 530px) {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .submit {
    margin: 15px;
  }
}
